.text {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(15px, 10vw, 50px);
  font-weight: 600;
  letter-spacing: 1px;

  white-space: nowrap;
}

/* हर अक्षर */
.text span {
  display: inline-block;

  background: linear-gradient(
    to bottom,
    #FF9933 0%,
    #FF9933 30%,

    #FFFFFF 30%,
#0000ff 10%,
    #FFFFFF 60%,

    #138808 60%,
    #138808 100%
  );

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  filter:
    drop-shadow(2px 3px 2px rgba(0,0,0,0.5));

  animation: bubble 1.2s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.08s);
}

/* Space */
.space {
  width: 0.3em;
  animation: none !important;
}

/* बीच वाले अक्षर में नीला अशोक चक्र जैसा effect */
.center {
  position: relative;
}

/* Bubble animation */
@keyframes bubble {

  0%, 100% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-16px) scale(1.12);
  }

}